@mixin wordLayout($FontSize, $FontStyle, $FontWeight) {
    font-size: $FontSize;
    font-style: $FontStyle;
    font-weight: $FontWeight;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
    color: #fff;
    background: #020204;
}

.container {
    margin: 0px 360px; 
}

.first-header-line {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include wordLayout(14px, normal, 600);
    text-transform: uppercase;
}

.first-header-items {
    display: flex;
    list-style-type: none;
    text-decoration: none;
    gap: 10px;
}


.second-header-line {
    margin-top: 45px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.second-header-items {
    display: flex;
    gap: 35px;
    
    li {
        list-style-type: none;
        text-transform: uppercase;
    }

    @include wordLayout(15px, normal, 600)
}
















.intro {
    background-image: url(img/intro.jpg);
    height: 720px;
    margin-top: 18px;
}

.intro-title {
    padding-top: 199px;
    @include wordLayout(60px, normal, 900);
    text-transform: uppercase;
}

.intro-description {
    @include wordLayout(18px, normal, 400);
    color: #DFDFDF;
}

.intro-buttons {

    .golden-button {
        width: 200px;
        height: 50px;
        background: #C7A17A;
        border-radius: 10px;
        
        div {
           padding: 17px 60px;
           @include wordLayout(15px, normal, 500);
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }
        
    }

    .transparent-button {
        width: 200px;
        height: 50px;
        border-radius: 10px;
        border: 1px solid #666681;
        background: rgba(199, 161, 122, 0.00);
        margin-left: 20px;

        div {
            padding: 15px 51px;
            @include wordLayout(15px, normal, 500);
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }
        
    }

    margin-top: 35px;
    display: flex;

}




